<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="MyPage-Dibs" class="view">
	<div class="titleBox">
		<h1>찜 목록</h1>
	</div>
	<ul class="itemUl">
		<li class="itemLi" th:each="selectDibsPostList : ${selectDibsPostList}">
			<a th:href="'postInfo?post_no=' + ${selectDibsPostList.getProduct_no()}"class="itemLiLink">
				<div class="imgBox">
					<img th:src="${selectDibsPostList.getImg_url_main()}" style="width: 100%; height:100%;"/>
				</div>
				<ul class="productUl">
					<li th:text="'상품명 : ' + ${selectDibsPostList.getProductName()}"></li>
					<li th:text="'상품가격 : ' + ${selectDibsPostList.getProductPrice()} + '원'"></li>
				</ul>
			</a>
		</li>
		<th:block layout:frament="paging">
			<nav th:replace="/fragments/pagination.html :: pagination"></nav>
		</th:block>
		<!-- 버튼클릭시 상태에 맞는 현재페이지 쿼리스트링 값 변경 -->
		<th:block layout:fragment="script">
			<script th:inline="javascript">
                    /*<![CDATA[*/
                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }
                    /*]]>*/
                </script>
		</th:block>
	</ul>
</div>
</html>