<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="MyPage-UploadPost" class="view">
        <div class="titleBox">
            <h1>업로드한 게시물</h1>
        </div>
        <ul class="itemUl">
            <li class="itemLi" th:each="selectUploadPostList : ${selectUploadPostList}">
                <a th:href="'postInfo?post_no=' + ${selectUploadPostList.getProduct_no()}" class="itemLiLink">
                    <div class="imgBox">
                        <img th:src="${selectUploadPostList.getImg_url_main()}" style="width: 100%; height:100%;"/>
                    </div>
                    <ul class="productUl">
                        <li th:text="'상품명 : ' + ${selectUploadPostList.getProductName()}"></li>
                        <li th:text="'상품가격 : ' + ${selectUploadPostList.getProductPrice()} + '원'"></li>
                    </ul>
                </a>
            </li>
            <th:block layout:frament="paging">
                <nav th:replace="/fragments/pagination.html :: pagination"></nav>
            </th:block>
            <!-- 버튼클릭시 상태에 맞는 현재페이지 쿼리스트링 값 변경 -->
            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }
                    /*]]>*/
                </script>
            </th:block>
        </ul>
    </div>
</html>