<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace = "our.example.furniture.repository.LoginMapper">
    <select id="overlapLogin" parameterType = "our.example.furniture.dto.UserRegisterDTO" resultType="String">
        SELECT userRegisterId FROM userRegisterTable WHERE userRegisterId = #{userRegisterId}
        AND userRegisterPassword = #{userRegisterPassword}
    </select>
    <select id="findId" parameterType="our.example.furniture.dto.UserRegisterDTO" resultType="String">
        SELECT userRegisterId FROM userRegisterTable WHERE userRegisterName = #{userRegisterName}
        AND userRegisterEmail = #{userRegisterEmail}
        AND userRegisterPhone1 = #{userRegisterPhone1}
        AND userRegisterPhone2 = #{userRegisterPhone2}
        AND userRegisterPhone3 = #{userRegisterPhone3}
    </select>
    <select id="findPassword" parameterType="our.example.furniture.dto.UserRegisterDTO" resultType="String">
        SELECT userRegisterPassword FROM userRegisterTable WHERE userRegisterId = #{userRegisterId}
        AND userRegisterName = #{userRegisterName}
        AND userRegisterEmail = #{userRegisterEmail}
        AND userRegisterPhone1 = #{userRegisterPhone1}
        AND userRegisterPhone2 = #{userRegisterPhone2}
        AND userRegisterPhone3 = #{userRegisterPhone3}
    </select>
    <select id="modifyPassword" parameterType="our.example.furniture.dto.UserRegisterDTO" resultType="String">
        UPDATE userRegisterTable
        SET userRegisterPassword = #{userRegisterPassword}, userRegisterRePassword = #{userRegisterRePassword}
        WHERE userRegisterId = #{userRegisterId}
    </select>
</mapper>