<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace = "our.example.furniture.repository.LoginMapper">
    <select id="overlapLogin" parameterType = "our.example.furniture.dto.UserRegisterDto" resultType="our.example.furniture.dto.UserRegisterDto">
        SELECT userRegisterId FROM userRegisterTable WHERE userRegisterId = #{userRegisterId}
        AND userRegisterPassword = #{userRegisterPassword}
    </select>
</mapper>