<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace="our.example.furniture.repository.PostWriterMapper">
    <insert id="insertProductInfo">
        INSERT INTO product(product_no, productCategory_NomeScale, productCategory_NumberOfHouseholds,
        productCategory_Interior, productName, productPrice, productGuideline, productSize, productColor, productComment)
        VALUES(AUTO_INCREMENT.NEXTVAL, #{productCategoryHomeScale}, #{productCategoryNumberOfHouseholds}, #{productCategoryInterior},
        #{productName}, #{productPrice}, #{productGuideline}, #{productSize}, #{productColor}, #{productComment})
    </insert>
</mapper>