<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace="our.example.furniture.repository.SelectPostMapper">
    <select id="SelectPost" resultType="our.example.furniture.dto.SelectedPostDto" parameterType="our.example.furniture.dto.SelectedPostDto">
        SELECT
        Product.Product_No, Product.productCategory_HomeScale, Product.productCategory_NumberOfHouseholds, Product.productCategory_Interior,
        Product.productName, Product.productPrice, Product_MainImg.img_url_main
        FROM
        Product INNER JOIN Product_MainImg ON Product.product_no = Product_MainImg.product_no
        WHERE Product.Product_No = #{product_No}
    </select>
</mapper>