<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
<mapper namespace = "our.example.furniture.repository.UserRegisterMapper">
	<insert id = "insertUserRegister">
		INSERT INTO userRegisterTable(userRegisterId, userRegisterPassword, userRegisterRePassword,
		userRegisterName, userRegisterBirth, userRegisterGender, userRegisterEmail,
		userRegisterPhone1, userRegisterPhone2, userRegisterPhone3)
		VALUES(#{userRegisterId}, #{userRegisterPassword}, #{userRegisterRePassword},
		#{userRegisterName}, #{userRegisterBirth}, #{userRegisterGender}, #{userRegisterEmail},
		#{userRegisterPhone1}, #{userRegisterPhone2}, #{userRegisterPhone3})
	</insert>
	<select id = "idOverlap" parameterType = "our.example.furniture.dto.UserRegisterDto" resultType = "String">
		SELECT userRegisterId FROM userRegisterTable WHERE userRegisterId = #{idOverlapCheck}
	</select>
	<select id = "emailOverlap" parameterType = "our.example.furniture.dto.UserRegisterDto" resultType = "String">
		SELECT userRegisterEmail FROM userRegisterTable WHERE userRegisterEmail = #{emailOverlapCheck}
	</select>
	<select id = "passwordCheck" parameterType = "our.example.furniture.dto.UserRegisterDto" resultType = "String">
		SELECT userRegisterPassword FROM userRegisterTable WHERE userRegisterId = #{loginId} AND userRegisterPassword = #{userRegisterPassword}
	</select>
	<select id="selectUserTable" resultType="our.example.furniture.dto.UserRegisterDto">
		SELECT
		*
		from
		userRegisterTable
		WHERE
		userRegisterId = #{loginId}
	</select>
	<update id = "userInfoChange" parameterType = "our.example.furniture.dto.UserRegisterDto">
		UPDATE
		userRegisterTable
		SET
		userRegisterPassword = #{userRegisterPassword},
		userRegisterName = #{userRegisterName},
		userRegisterEmail = #{userRegisterEmail},
		userRegisterPhone1 = #{userRegisterPhone1},
		userRegisterPhone2 = #{userRegisterPhone2},
		userRegisterPhone3 = #{userRegisterPhone3}
		WHERE
		userRegisterId = #{loginId}
	</update>
	<delete id="userInfoDelete" parameterType = "our.example.furniture.dto.UserRegisterDto">
		DELETE
		FROM
		userRegisterTable
		WHERE
		userRegisterTable.userRegisterId = #{userRegisterId}
	</delete>
</mapper>
