<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        >
        
<mapper namespace = "our.example.furniture.repository.UserRegisterMapper">
	<insert id = "insertUserRegister">
		INSERT INTO userRegisterTable(userRegisterId, userRegisterPassword, userRegisterRePassword,
		userRegisterName, userRegisterBirth, userRegisterGender, userRegisterEmail,
		userRegisterPhone1, userRegisterPhone2, userRegisterPhone3)
		VALUES(#{userRegisterId}, #{userRegisterPassword}, #{userRegisterRePassword},
		#{userRegisterName}, #{userRegisterBirth}, #{userRegisterGender}, #{userRegisterEmail},
		#{userRegisterPhone1}, #{userRegisterPhone2}, #{userRegisterPhone3})
	</insert>
	<select id="idOverlap" resultType="String" parameterType="our.example.furniture.dto.UserRegisterDto">
	SELECT userRegisterId FROM userRegisterTable WHERE userRegisterId = #{idOverlapCheck} 
	</select>
</mapper>