<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-body">
        <div class="sliderBox">
            <h1>슬라이더 영역</h1>
        </div>
        <div class="bodyWrapper">
            <section>
                <div class="category">
                    <h1>카테고리</h1>
                    <ul>
                        <li>대분류</li>
                        <li>소분류</li>
                        <li>상세</li>
                    </ul>
                </div>
                <div class="view">
                    <h1>정렬방식</h1>
                    <ul class="itemUl">
                        <li th:each="postList : ${postList}" class="itemLi">
                            <a th:href="'postInfo?post_no=' + ${postList.getProduct_No()}">
                                <div class="imgBox">
                                    <img th:src="${postList.getImg_url_main()}" style="width: 100%; height:100%;"/>
                                </div>
                                <ul class="productUl">
                                    <li th:text="'상품명: ' + ${postList.getProductName()}">상품명</li>
                                    <li th:text="'상품가격: ' + ${postList.getProductPrice()} + '원'">상품가격</li>
                                    <li th:text="'태그 : ' + ${postList.getProductCategory_HomeScale()} + ', ' + ${postList.getProductCategory_NumberOfHouseholds()} + ', ' + ${postList.getProductCategory_Interior()}">태그</li>
                                </ul>
                            </a>
                        </li>
                        <th:block layout:frament="paging">
                            <nav th:replace="/fragments/pagination.html :: pagination"></nav>
                        </th:block>
                        <!-- 버튼클릭시 상태에 맞는 현재페이지 쿼리스트링 값 변경 -->
                        <th:block layout:fragment="script">
                            <script th:inline="javascript">
                                /*<![CDATA[*/
                                function movePage(uri, queryString) {
                                    location.href = uri + queryString;
                                }
                                /*]]>*/
                            </script>
                        </th:block>
                    </ul>
                </div>
            </section>
            <aside>
                <h1>광고</h1>
            </aside>
        </div>
    </div>
</html>