<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="fragment-body">
        <div class="sliderBox">
            <h1>슬라이더 영역</h1>
        </div>
        <div class="bodyWrapper">
            <section>
                <div class="category">
                    <h1>카테고리</h1>
                    <ul>
                        <li>대분류</li>
                        <li>소분류</li>
                        <li>상세</li>
                    </ul>
                </div>
                <div class="view">
                    <h1>정렬방식</h1>
                    <ul class="itemUl">
                        <li class="itemLi">
                            <div class="imgBox">
                            </div>
                            <ul>
                                <li>상품명</li>
                                <li>가격</li>
                            </ul>
                        </li>
                        <li class="itemLi">
                            <div class="imgBox">
                            </div>
                            <ul>
                                <li>상품명</li>
                                <li>가격</li>
                            </ul>
                        </li>
                        <li class="itemLi">
                            <div class="imgBox">
                            </div>
                            <ul>
                                <li>상품명</li>
                                <li>가격</li>
                            </ul>
                        </li>
                        <li class="itemLi">
                            <div class="imgBox">
                            </div>
                            <ul>
                                <li>상품명</li>
                                <li>가격</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
            <aside>
                <h1>광고</h1>
            </aside>
        </div>
    </div>
</body>
</html>