<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="fragment-header" class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="/"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav mb-30">
            <ul>
                <li class="active"><a href="/">홈</a></li>
                <li><a href="shop">상품</a></li>
                <li><a href="#">로그인</a></li>
                <li><a href="userRegister">회원가입</a></li>
            </ul>
        </nav>
        <!-- Cart Menu -->
        <div class="cart-fav-search mb-30">
            <a href="basket" class="cart-nav"><img src="img/core-img/cart.png" alt="">장바구니<span>(0)</span></a>
            <a href="postWriter" class="fav-nav"><img src="img/core-img/favorites.png" alt="">글쓰기</a>
            <a href="#" class="search-nav"><img src="img/core-img/search.png" alt="">검색</a>
        </div>
        <!-- Social Button -->
        <div class="social-info d-flex justify-content-between">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </header>
</html>