<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="fragment-mypageWidget" class="shop_sidebar_area">
        <div class="widget brands mb-50" style="z-index: 1;">
            <!-- Widget Title -->
            <h6 class="widget-title mb-10">MyPage</h6>
                <div class="catagories-menu">
                <ul>
                    <li class="active"><a href="myPage_CurrentView">최근 본 페이지</a></li>
                    <li><a href="myPage_UploadPost">업로드한 페이지</a></li>
                    <li><a href="myPage_Dibs">찜목록</a></li>
                    <li><a href="myPage_UserInfoFix">회원 정보 수정</a></li>
                    <li><a href="myPage_UserWithdrawal">회원 탈퇴</a></li>
                </ul>
            </div>
        </div>
    </div>
</html>