@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans KR', sans-serif;
}

.colorBox{width: 105px;}
.mb-15 {
    margin-bottom: 15px !important; 
}
.mb-25 {
    margin-bottom: 25px !important; 
}

p {
    color: #6d6d6d;
    font-weight: 700;
    margin: 0 auto;
    font-size: 15px;
}
.bg-warning {
    background-color: #f5f7fa!important;
}
.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text::-webkit-input-placeholder {
    color: #6d6d6d;
    font-size: 15px;
}

#findUserId {
    border: 1px solid white;
    background-color: #fbb710;
    color: #ffffff;
    transition: color .20s ease-in-out,background-color .20s ease-in-out,border-color .20s ease-in-out,box-shadow .20s ease-in-out;
}

#findUserId:hover {
    color: #ffffff;
    background-color: #131212;
}
.border-top { border-top: none!important; }
.p-b-30 { padding-bottom: 0!important; margin-top: 30px!important; }
.p-t-20 { padding-top: 20px!important; }
.goLogin { float: left; }
.findPassword { text-align: right; }
a { color: #6d6d6d;}
.form-control { height: 45px; }