@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans:300,400,700&display=swap');
    html { font-size: 20px; }
    body { font-size: 1rem; margin: 0; padding: 0; background: #fff; font-weight: normal; font-family: 'Open Sans'; }
    li { list-style: none; }
    a { text-decoration: none; }

    .findUserIdPasswordWrapper { margin: 140px auto; width: 700px; }
    .modifyUserPasswordWrapper { margin: 140px auto; width: 350px; }
    .findUserIdPasswordWrapper h2,
    .modifyUserPasswordWrapper h2 { border-bottom: 1px solid black; padding-bottom: 30px; font-weight: 300; }
    .findUserIdPasswordWrapper p,
    .modifyUserPasswordWrapper p { font-size : 15px; text-align : center; margin-bottom: 10px; }

    /* 컨테이너 */
    .container { padding: 0px; margin: 0 auto 15px; position: relative; width: 700px; }
    /* 비밀번호 수정 컨테이너 */
    .modifycontainer {padding: 0px; margin: 0 auto 15px; position: relative; width: 350px;}



    /* input type 전체 설정 */
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=search],
    input[type=number],
    input[type=date],
    input[type=tel] { width: 175px; height: 35px; color: #373737; font-size: 13px;
    border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 10px;
    transition: all 0.5s; vertical-align: middle; }

    /* select 구문 설정 */
    .findUserIdPhone1,
    .findUserPasswordPhone1 { width: 80px; height: 35px; color: #373737; font-size: 13px;
    border: 1px solid #e8e8e8; background: #fff; text-decoration: none; text-indent: 10px;
    transition: all 0.5s; vertical-align: middle; }

    /* input의 attribute인 placeholder 설정 -> ::를 붙여서 selector를 만든다. */
    /* -webkit- : 구글, 사파리 브라우저에 적용 */
    input::-webkit-input-placeholder{color:#999; font-size:13px;}

    /* 테이블 설정 */
    th,
    table td { padding: 0 0 20px; position: relative; }
    table th { font-size: 14px; color: #222; text-align: left; font-weight: normal; padding-left: 25px; }
    table tr { border-bottom: 1px solid black; }
    table tr:last-child th { padding: 0 0 20px 25px; }


    .colValue { width: 200px; }

    /* 찾기 버튼 설정 */
    .btnFindId,
    .btnFindPassword,
    .modifySuccess { background: #fff; width: 100px; height: 40px; line-height: 40px; color: black; text-align: center; display: inline-block; border-radius: 3px; }
    .txtCenter { text-align: center; padding: 1rem 0 0; margin-bottom : 2rem; }