@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Karla|Open+Sans:300,400,700&display=swap');
    body { margin: 0; padding: 0; background: #fff; font-weight: normal; font-family: 'Open Sans'; }
    ul { list-style: none; padding: 0; margin: 0; }
    li { list-style: none; }
    a { text-decoration: none; color: black; }
    a:hover { color: aqua; }
    img { border: 0 none; margin: 0; padding: 0; line-height: 0px; }
    .hide { display: none; }
    header > .nav {
        border-bottom: 1px solid black;
    }
    header > .nav > .logo {
        margin: 17px 17px 17px 23px;
        text-align: center;
        width: 400px;
    }
    header > .nav > .logo img {
        width: 100%;
    }
    header > .nav > .menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 10px;
        margin: 10px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        box-sizing: border-box;
    }
    header > .nav > .menu > li {
        display: inline-block;
        margin: 0 10px;
    }
    .sliderBox {
        background-image: url('https://source.unsplash.com/1400x300/?christmas');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 300px;
        width: 1400px;
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid black;
    }
    .sliderBox > h1 {
        line-height: 300px;
    }
    .bodyWrapper {
        margin-top: 20px;
        width: 1400px;
        margin: 0 auto;
        border-top: 1px solid black;
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .bodyWrapper > section {
        flex: 1;
        display: flex;
    }
    .bodyWrapper > section > .category {
        border: 1px solid black;
        border-right: none;
        border-top: none;
        overflow: auto;
        flex: 0.25;
    }
    .bodyWrapper > section > .category > h1 {
        font-size: 2rem;
        padding: 10px;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid black;
    }
    .bodyWrapper > section > .category > ul > li {
        border-bottom: 1px solid black;
        padding: 20px;
        font-size: 15px;
        text-align: center;
    }
    .bodyWrapper > section > .category > ul > li:nth-child(1),
    .bodyWrapper > section > .category > ul > li:nth-child(2),
    .bodyWrapper > section > .category > ul > li:nth-child(3) {
        padding: 10px;
        text-align: left;
    }
    .bodyWrapper > section > .category > ul > li .productCategoryPrice {
        width: 60%;
        margin-top: 10px;
    }
    .bodyWrapper > section > .category > ul > li #productCategoryPriceButton {
        background: black;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 300;
        padding: 5px;
        color: white;
    }
    .bodyWrapper > section > .category > ul > li > select {
        margin-left: 10px;
    }
    .bodyWrapper > section > .view {
       border: 1px solid black;
       border-top: none;
       flex: 1;
    }
    .bodyWrapper > section > .view > .filterBox {
        position: relative;
        padding: 20px;
        border-bottom: 1px solid black;
    }
    .bodyWrapper > section > .view > .filterBox > .wayBox {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 25px;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .bodyWrapper > section > .view > .filterBox > .searchBox {
        display: inline-block;
        width: 70%;
        position: relative;
    }
    .bodyWrapper > section > .view > .filterBox > .searchBox > #searchBar {
        width: 100%;
        height: 46px;
        padding: 11px 20px 13px 68px;
        font-size: 22px;
        letter-spacing: 3px;
        color: #373737;
    }
    .bodyWrapper > section > .view > .filterBox > input {
        margin: 0 5px;
    }
    .bodyWrapper > section > .view > .filterBox > .searchBox > .sub-search-icon {
        position: absolute;
        top: 2px;
        left: 20px;
        font-size: 28px;
    }

    .bodyWrapper > section > .view > h1 {
        border-bottom: 1px solid black;
        padding: 0;
        margin: 0;
    }
    .bodyWrapper > aside {
        border: 1px solid black;
        border-top: none;
        border-left: none;
        flex: 0.2;
    }
    .bodyWrapper > aside > h1 {
        font-size: 2rem;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .bodyWrapper > section > .view > .itemUl {
        padding: 30px;
        box-sizing: border-box;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi {
        position: relative;
        width: 31.402%;
        display: inline-block;
        margin-top: 60px;
        margin-right: 21.093px;
        border-bottom: 1px solid black;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi:nth-child(1) {
        margin-top: 0;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi:nth-child(2) {
        margin-top: 0;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi:nth-child(3) {
        margin-top: 0;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi:nth-child(3n) {
        margin-right: 0;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi > a > .imgBox {
        width: 100%;
        height: 240px;
        display: inline-block;
        border: 1px solid black;
    }
    .bodyWrapper > section > .view > .itemUl > .itemLi > a > .productUl {
        display: inline-block;
        font-size: 15px;
        margin: 10px 0;
    }
    footer {
        border-top: 1px solid black;
        clear: both;
        text-align: center;
        height: 250px;
        line-height: 300px;
    }
    .pagination {
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    footer > i {
        font-size: 100px;
        margin-right: 40px;
    }
    footer > i:nth-child(4) {
        margin: none;
    }
    aside > .advertisementBox {
        padding: 10px 20px 20px 20px;
        box-sizing: border-box;
        height: 50%;
        width: 100%;
    }