<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furniture</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <header th:replace="/fragments/header.html :: fragment-header"></header>
    <div th:replace="/fragments/body.html :: fragment-body"></div>
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
    <script th:src="@{/js/index.js}"></script>
</html>