<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Favicon icon -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}">

    <!-- Title -->
    <title>SJFurniture_login</title>

    <!-- Core Style CSS -->
    <link th:href="@{css/style.min.css}" rel="stylesheet">
    <link th:href="@{css/login.css}" rel="stylesheet">
</head>

<body>
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-white">
        <div class="auth-box bg-white border-top border-secondary">
            <!-- SJFurniture 로고 -> 클릭하면 메인페이지 -->
            <div class="text-center p-t-20 p-b-20">
                <a href="/">
                    <span class="db"><img src="img/core-img/logo.png" alt="logo"/></span>
                </a>
            </div>

            <!-- 로그인 정보 입력 -->
            <div class="row p-b-30">
                <div class="col-12">
                    <!--아이디-->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="아이디를 입력해주세요" id="loginId">
                    </div>

                    <!--비밀번호-->
                    <div class="input-group mb-3">
                        <input type="password" class="form-control form-control-lg" placeholder="비밀번호를 입력해주세요"
                               id="loginPassword">
                    </div>
                </div>
            </div>

            <!-- 로그인, 분실 링크 -->
            <div class="row border-top border-secondary">
                <div class="col-12">
                    <div class="form-group">
                        <!-- 로그인 버튼 -->
                        <div class="loginBtn">
                            <button class="btn btn-block btn-lg btn-info" type="submit" id="loginSuccess">로그인</button>
                        </div>

                        <div class="p-t-20">
                            <!-- 회원가입 페이지 이동 -->
                            <div class="goRegister">
                                <a onclick="location.href = 'userRegister'" style="cursor:pointer">회원가입</a>
                            </div>

                            <!-- 아이디, 비밀번호 분실 링크 -->
                            <div class="findIdPassword">
                                <a onclick="location.href = 'findUserId'" style="cursor:pointer">아이디 찾기</a> &nbsp;|&nbsp;
                                <a onclick="location.href = 'findUserPassword'" style="cursor:pointer">비밀번호 찾기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- JS -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{/js/login.js}"></script>


</body>
</html>
