<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}">

    <!-- Title -->
    <title>SJFurniture_modifyUserPassword</title>

    <!-- Custom CSS -->
    <link th:href="@{css/style.min.css}" rel="stylesheet">
    <link th:href="@{css/modifyUserPassword.css}" rel="stylesheet">
</head>

<body>
<div class="main-wrapper">
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-white">
        <div class="auth-box bg-white border-top border-secondary">
            <div id="loginform">
                <div class="text-center p-t-20 p-b-20">
                    <span class="db"><img src="img/core-img/logo.png" alt="logo" /></span>
                </div>
                <div class="row p-b-30">
                    <div class="col-12">
                        <!-- 변경할 비밀번호 -->
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="변경하실 비밀번호를 입력해주세요" id="modifyPassword">
                        </div>
                        <!-- 비밀번호확인 -->
                        <div class="input-group mb-3">
                            <input type="password" class="form-control form-control-lg" placeholder="한번더 입력해주세요" id="modifyRePassword">
                        </div>
                    </div>
                </div>
                <div class="row border-top border-secondary">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="loginBtn">
                                <button class="btn" type="submit" id="modifySuccess">수정하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{js/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{/js/findUserIdPassword.js}"></script>


</body></html>
