<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>FurnitureTeam - sb, jb</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{css/core-style.css}">
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <!-- Search Wrapper Area -->
    <div th:replace="/fragments/searchWrapper.html :: fragment-searchWrapper"></div>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div th:replace="/fragments/mobileNav.html :: fragment-mobileNav"></div>

        <!-- Header Area -->
        <header th:replace="/fragments/header.html :: fragment-header"></header>
        
        <!-- ##### Single Widget ##### -->
        <div th:replace="/fragments/mypageWidget.html :: fragment-mypageWidget"></div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid pb-5">
                <div class="row justify-content-md-center">
                    <div class="card-wrapper col-12" style="max-width: 100%;">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">회원 탈퇴</h4>
                                <form>
                                    <p>
                                        앞으로 더 나은 모습으로 고객님을 다시 만날 수 있도록 노력하겠습니다. 그동안 이용해주신 것을 진심으로 감사드립니다.
                                    </p>
                                    <h4>
                                        탈퇴를 결정한 사유가 있으신가요?
                                    </h4>
                                    <textarea class="withdrawal_reason" placeholder="탈퇴사유" style="width: 100%; min-height: 200px;">
                                    </textarea>
                                    <div class="form-group no-margin">
                                        <a href="/index.html" class="btn amado-btnTwo btn-block">
                                            회원탈퇴
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area ##### -->
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{js/active.js}"></script>
</body>

</html>