<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>FurnitureTeam - sb, jb</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{css/core-style.css}">
    <link rel="stylesheet" th:href="@{style.css}">
    <style>
        .nice-select {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Search Wrapper Area -->
    <!--<div th:replace="/fragments/searchWrapper.html :: fragment-searchWrapper"></div>-->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div th:replace="/fragments/mobileNav.html :: fragment-mobileNav"></div>

        <!-- Header Area -->
        <header th:replace="/fragments/header.html :: fragment-header"></header>
        
        <!-- ##### Single Widget ##### -->
        <div th:replace="/fragments/mypageWidget.html :: fragment-mypageWidget"></div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row mb-5">
                  <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                              <th class="product-thumbnail">Image</th>
                              <th class="product-name">Product</th>
                              <th class="product-price">Price</th>
                              <th class="product-quantity">Size</th>
                              <th class="product-color">Color</th>
                              <th class="product-remove">Modification</th>
                          </tr>
                        </thead>
                        <tbody>
                            <!-- 상품 하나-->
                            <tr class="upload_product_tr" th:each="selectUploadPostList : ${selectUploadPostList}">
                                <a th:href="'postInfo?post_no=' + ${selectUploadPostList.getProduct_no()}">
                                    <td class="product-thumbnail inner_td" style="position: relative;">
                                        <input type="checkbox" class="inner_checkbox" name="upload_item_s" style="margin: 0; padding: 0; position: absolute; width: 20px; left: 20px; top: 20px; height: 20px; line-height: 20px;"/>
                                        <a th:href="'postInfo?post_no=' + ${selectUploadPostList.getProduct_no()}">
                                            <img th:src="${selectUploadPostList.getImg_url_main()}" alt="Image" class="img-fluid" style="height: 15vh; width: 100%;">
                                        </a>
                                    </td>
                                    <input type="hidden" class="upload_item_num" th:value="${selectUploadPostList.getProduct_no()}">
                                    <input type="hidden" class="upload_product_name" th:value="${selectUploadPostList.getProductName()}">
                                    <td class="product_name_td">
                                        <h2 class="h5 text-black product_name" th:text="${selectUploadPostList.getProductName()}"></h2>
                                        <input type="text" class="fix_product_name form-control" style="display: none;" placeholder="상품명 수정(최대40자)" maxlength="40">
                                    </td>
                                    <td class="product_price_td">
                                        <text class="uiProductPrice product_price" th:text="${selectUploadPostList.getProductPrice()}"></text>
                                        <input type="text" class="fix_product_price form-control" style="display: none;" placeholder="상품가격 수정(최대10자리)" maxlength="10" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </td>
                                    <td class="product_size_td">
                                        <div class="input-group mb-3 product_size" style="max-width: 120px;" th:text="${selectUploadPostList.getProductSize()}"></div>
                                        <select name="productSize" class="fix_product_size" style="display: none; height: 38px;">
                                            <option value="Small" selected="selected">Small</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Large">Large</option>
                                            <option value="XLarge">XLarge</option>
                                            <option value="XXLarge">XXLarge</option>
                                        </select>
                                    </td>
                                    <td class="product_color_td">
                                        <text class="product_color">red</text>
                                        <select name="productColor" class="fix_product_color" style="display: none; height: 38px;">
                                            <option value="white" selected="selected">white</option>
                                            <option value="gray">gray</option>
                                            <option value="black">black</option>
                                            <option value="blue">blue</option>
                                            <option value="red">red</option>
                                            <option value="yellow">yellow</option>
                                            <option value="orange">orange</option>
                                            <option value="brown">brown</option>
                                        </select>
                                    </td>
                                    <td class="FixPost fix_button_td">
                                        <a href="#" class="btn amado-btnTwo btn-sm fix_button">수정</a>
                                    </td>
                                </a>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3">
                            <button class="btn amado-btnOutline btn-sm btn-block all_item_select">상품 전체선택</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn amado-btnOutline btn-sm btn-block all_item_deselect">전체선택해제</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button class="btn amado-btnTwo btn-sm btn-block selected_item_delete">선택상품 삭제</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Pagination -->
            <th:block layout:fragment="paging">
              <nav th:replace="/fragments/pagination.html :: pagination"></nav>
            </th:block>
            <!-- 버튼클릭시 상태에 맞는 현재페이지 쿼리스트링 값 변경 -->
            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }
                    /*]]>*/
                </script>
            </th:block>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area ##### -->
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{js/active.js}"></script>
    <!-- Index js -->
    <script th:src="@{/js/index.js}"></script>
    <!-- uploadCheck js -->
    <script th:src="@{/js/uploadCheck.js}"></script>
</body>

</html>