<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>FurnitureTeam - sb, jb</title>

    <!-- Favicon  -->
    <link rel="icon" th:href="@{img/core-img/favicon.ico}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" th:href="@{css/core-style.css}">
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <!-- Search Wrapper Area -->
    <!--<div th:replace="/fragments/searchWrapper.html :: fragment-searchWrapper"></div>-->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div th:replace="/fragments/mobileNav.html :: fragment-mobileNav"></div>

        <!-- Header Area -->
        <header th:replace="/fragments/header.html :: fragment-header"></header>
        
        <!-- ##### Single Widget ##### -->
        <div th:replace="/fragments/mypageWidget.html :: fragment-mypageWidget"></div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row mb-5">
                  <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="product-thumbnail">Image</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity">Size</th>
                            <th class="product-total">Total</th>
                            <th class="product-remove">SelectBox</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- 상품 하나-->
                          <tr class="dibs_product_tr" th:each="selectDibsPostList : ${selectDibsPostList}">
                            <td class="product-thumbnail inner_td" style="position: relative;">
                                <input type="checkbox" class="inner_checkbox" name="dibs_item_s" style="margin: 0; padding: 0; position: absolute; width: 20px; left: 20px; top: 20px; height: 20px; line-height: 20px;"/>
                                <a th:href="'postInfo?post_no=' + ${selectDibsPostList.getProduct_no()}">
                                    <img th:src="${selectDibsPostList.getImg_url_main()}" alt="Image" class="img-fluid" style="height: 15vh; width: 100%;">
                                </a>
                            </td>
                            <input type="hidden" class="dibs_item_num" th:value="${selectDibsPostList.getProduct_no()}">
                            <td class="product-name">
                              <h2 class="h5 text-black" th:text="${selectDibsPostList.getProductName()}"></h2>
                            </td>
                            <td class="uiProductPrice" th:text="${selectDibsPostList.getProductPrice()}"></td>
                            <td>
                              <div class="input-group mb-3" style="max-width: 120px;" th:text="${selectDibsPostList.getProductSize()}">
                              </div>
                            </td>
                            <td>$49.00</td>
                            <td class="basket_button_td"><button type="button" class="btn amado-btnTwo btn-sm basket_button">장바구니 담기</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>

                <div class="row">
                  <div class="col-md-6">
                      <div class="row mb-5">
                          <div class="col-md-6 mb-3">
                              <button class="btn amado-btnOutline btn-sm btn-block all_item_select">상품 전체선택</button>
                          </div>
                          <div class="col-md-6 mb-3">
                              <button class="btn amado-btnOutline btn-sm btn-block all_item_deselect">전체선택해제</button>
                          </div>
                          <div class="col-md-6 mb-3">
                              <button class="btn amado-btnTwo btn-sm btn-block selected_item_delete">선택상품 삭제</button>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            <!-- Pagination -->
            <th:block layout:fragment="paging">
              <nav th:replace="/fragments/pagination.html :: pagination"></nav>
            </th:block>
            <!-- 버튼클릭시 상태에 맞는 현재페이지 쿼리스트링 값 변경 -->
            <th:block layout:fragment="script">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    function movePage(uri, queryString) {
                        location.href = uri + queryString;
                    }
                    /*]]>*/
                </script>
            </th:block>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area ##### -->
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script th:src="@{js/jquery/jquery-2.2.4.min.js}"></script>
    <!-- Popper js -->
    <script th:src="@{js/popper.min.js}"></script>
    <!-- Bootstrap js -->
    <script th:src="@{js/bootstrap.min.js}"></script>
    <!-- Plugins js -->
    <script th:src="@{js/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{js/active.js}"></script>
    <!-- Index js -->
    <script th:src="@{/js/index.js}"></script>
    <!-- dibsCheck js -->
    <script th:src="@{/js/dibsCheck.js}"></script>
</body>

</html>