<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>FurniturePostWriter</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css"/>
    <link rel="stylesheet" th:href="@{/css/postWriter.css}" href="../static/css/postWriter.css"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js/test.js}"></script>
</head>
<body>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <div class="postWriterWrapper">
        <h2>게시물작성</h2>
        <div class="container">
            <form id="postWriterWrapperForm" method="post" enctype="multipart/form-data">
                <table>
                    <caption>
                        <details>
                            <summary class="summary">게시물 작성폼</summary>
                            <div class="summary">상품번호, 상품 가이드라인, 상품명, 사이즈, 색상지정, 배송정보, 상품정보</div>
                        </details>
                    </caption>
                    <colgroup>
                        <col class="colValue">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label for="productCategoryHomeScale">주택규모선택</label></th>
                            <td>
                                <select name="productCategoryHomeScale" id="productCategoryHomeScale" class="productCategoryHomeScale" title="주택규모선택">
                                    <option value="OneRoom" selected="selected">OneRoom</option>
                                    <option value="TwoRoom">TwoRoom</option>
                                    <option value="Apartment">Apartment</option>
                                    <option value="Officetels">Officetels</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productCategoryNumberOfHouseholds">가구규모선택</label></th>
                            <td>
                                <select name="productCategoryNumberOfHouseholds" id="productCategoryNumberOfHouseholds" class="productCategoryNumberOfHouseholds" title="가구규모선택">
                                    <option value="Single" selected="selected">Single</option>
                                    <option value="Couple">Couple</option>
                                    <option value="Family">Family</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productCategoryInterior">인테리어선택</label></th>
                            <td>
                                <select name="productCategoryInterior" id="productCategoryInterior" class="productCategoryInterior" title="인테리어선택">
                                    <option value="Modern" selected="selected">Modern</option>
                                    <option value="Yolo">Yolo</option>
                                    <option value="Economical">Economical</option>
                                    <option value="Minimalizm">Minimalizm</option>
                                    <option value="Customize">Customize</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productName">상품명</label></th>
                            <td><input type="text" id="productName" name="productName" placeholder="필수정보입니다.">
                        </tr>
                        <tr>
                            <th><label for="productPrice">상품가격</label></th>
                            <td><input type="text" id="productPrice" name="productPrice" placeholder="필수정보, 숫자만 가능">
                        </tr>
                        <tr>
                            <th><label for="productGuideline">상품 가이드라인</label></th>
                            <td><input type="text" id="productGuideline" name="productGuideline" placeholder="40자 이내로 입력해주세요. " maxlength="40" oninput="" >
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productSize">사이즈</label></th>
                            <td>
                                <select id="productSize" name="productSize" class="productSize">
                                    <option value="Small" selected="selected">Small</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Large">Large</option>
                                    <option value="XLarge">XLarge</option>
                                    <option value="XXLarge">XXLarge</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productColor">색상지정</label></th>
                            <td>
                                <select id="productColor" name="productColor" class="productColor">
                                    <option value="Red" selected="selected">Red</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Green">Green</option>
                                    <option value="Black">Black</option>
                                    <option value="White">White</option>
                                    <option value="Pink">Pink</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="productMainImg">상품-대표이미지</label></th>
                            <td><input type="file" id="productMainImg" name="productMainImg"></td>
                        </tr>
                        <tr>
                            <th><label for="productImg">상품-내부이미지</label></th>
                            <td><input type="file" multiple="true" id="productImg" name="productImg[]"></td>
                        </tr>
                        <tr>
                            <th><label for="productComment">상품정보-내용</label></th>
                            <td><textarea id="productComment" placeholder="상품사진 밑에 적을 내용을 넣어주세요. (500자 이내)" name="productComment" maxlength="500" oninput=""></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <div class="txtCenter">
                    <button class="btnList" type="button" onclick="location.href='/'">취소</button>
                    <button class="btnWrite" type="submit" id="productRegister">게시물등록</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
<script>
    // #productRegister[게시물등록] 버튼을 눌렀을때 response/responseProductRegister.do URL로 AJAX 요청을 보냄
    $("#productRegister").on('click', function(e) {
        const formData = new FormData($('#postWriterWrapperForm')[0]);
        e.preventDefault();
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: '/productRegister',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (result) {
                location.href="/";
            },
            error: function (e) {
           }
        });
    });
</script>
</html>