<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Furniture</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/postInfo.css}"/>
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js/postInfo.js}"></script>
    <script th:src="@{/js/review.js}"></script>
</head>
<body>
    <header th:replace="/fragments/header.html :: fragment-header"></header>
    <div th:replace="/fragments/hiddenVal.html :: fragment-hiddenVal"></div>
    <section>
        <div class="info_wrapper">
            <div class="img_section"><img th:src="${postInfo.getImg_url_main()}"/></div>
            <div class="read_section">
                <ul>
                    <li class="info_title">
                        <h5 class="title" th:text="${postInfo.getProductName()}"></h5>
                        <p class="size"></p>
                        <span class="status"><?=$product_select_array['product_category']?></span>
                        <hr>
                    </li>
                    <li class="explanation"><?=$product_select_array['product_guideline']?></li>
                    <li class="price">판매가:<h4 th:text="${postInfo.getProductPrice()} + '원'"></h4>
                    </li>
                    <li class="colour">색상:
                        <?=$product_select_array['product_color']?>
                        </span>
                    </li>
                    <li class="size_2">사이즈:<span class="size_box"><?=$product_select_array['product_size']?></span></li>
                    <li class="total_price">총 상품 금액:<h4><?=$product_select_array['product_price']?></h4>원</li>

                    <li class="like">
                        <button type="button" class="like_button">좋아요</button>
                    </li>

                    <li class="jjim_li">
                        <button class="jjim_button">찜하기</button>
                    </li>

                    <li class="basket_li">
                        <button type="button" class="basket" id="basket_button">장바구니</button>
                    </li>
                    <li>조회수:</li>
                    <li class="purchase_li">
                        <button class="purchase_button">주문기능은 없습니다</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab_div">
            <ul class="tab_menu">
                <li>
                    <a class="targetInfo" href="#a" style=" border: 1px solid black; font-size: 20px; color: black;">상품정보</a>
                </li>
                <li>
                    <a class="tabReview" href="#a" style=" color: black; ">구매후기( )</a>
                </li>
            </ul>
        </div>
        <div class="detail_info">
            <p>상품 설명글</p>
            <div class='img_upload' alt='다중 내부 이미지'>
                <img th:each="postImages : ${postImages}" th:src="${postImages.getImg_url_inner()}"/>
            </div>
            <div class="tab_div" id="tab_back">
                <ul class="tab_menu">
                    <li>
                        <a class="tabContent" href="#a" style=" color: black;">상품정보</a>
                    </li>
                    <li>
                        <a class="targetReview" href="#a" style=" border: 1px solid black; font-size: 20px; color: black;">구매후기( )</a>
                    </li>
                </ul>
            </div>
            <div class="review_spot">
                <div class="simple_review">
                    <h4 class="size" th:text="'상품 사이즈' + ${reviewInfo.getReview_size()}"></h4>
                    <p class="user_nickname">유저닉네임 : ${review_userNickname}</p>
                    <p class="review_satisfaction"> 상품 만족도 : ${review_satisfaction}</p>
                    <button type='button' class='fix_button'>수정</button>
                    <button type='button' class='delete_button'>삭제</button>
                    <h5 class="content">코멘트 : ${review_comment}</h5>
                    <p class='created_at'> 작성시간 : ${currentdate}</p>
                    <img src="${img_dir}">
                </div>
            </div>
            <!-- 댓글 등록 -->
            <div class="review_register" style="border: 1px solid black; height: 200px; box-sizing: border-box; padding: 20px; text-align: left; position: relative;">
                <textarea placeholder="댓글을 입력해주세요." id="review_comment" style="width: 100%; height: 60%; border: 1px solid black; margin: 0 -3px 0;"></textarea>
                <div style="margin-top: 15px;">
                    <span style="font-size: 15px;">
                        상품만족도 조사:
                        <select name="review_satisfaction" class="review_satisfaction" id="review_satisfaction" title="상품만족도조사" style="height: 30px;">
                            <option value="5Star">★★★★★</option>
                            <option value="4Star">★★★★☆</option>
                            <option value="3Star">★★★☆☆</option>
                            <option value="2Star">★★☆☆☆</option>
                            <option value="1Star">★☆☆☆☆</option>
                        </select>
                    </span>
                <button type="button" id="review_button" name="review_button" style="position: absolute; right:18px; top: 140px; width: 80px; height: 40px; line-height: 40px; background: white;">댓글등록</button>
            </div>
        </div>
    </section>
    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>