<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
	<meta name="viewport" content="width=device=width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Furniture_userRegister</title>
	<link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css"/>
	<link rel="stylesheet" th:href="@{/css/userRegister.css}" href="../static/css/userRegister.css"/>
	<link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script th:src="@{/js/userRegister.js}"></script>
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
<div class="userRegisterWrapper">
	<h2>회원가입</h2>
	<div class = "container">
		<form id = "userRegisterForm" method = "post">
			<table>
				<colgroup>
					<col class = "colValue"></col>
				</colgroup>
				<tbody>
				<tr> <!-- 아이디 -->
					<th><label for = "userRegisterId">아이디</label></th>
					<td>
						<input type = "text" id = "userRegisterId" name = "userRegisterId" placeholder="아이디를 입력하세요">
						<button id = "idOverlap" type = "button">중복확인</button>
						<input type = "hidden" id = "idDuplication" value = "idUncheck">
					</td>
				</tr>

				<tr> <!-- 비밀번호 -->
					<th><label for = "userRegisterPassword">비밀번호</label></th>
					<td><input type = "password" id = "userRegisterPassword" name = "userRegisterPassword" placeholder="비밀번호를 입력하세요">
					</td>
				</tr>

				<tr> <!-- 비밀번호재입력 -->
					<th><label for = "userRegisterRePassword">비밀번호재입력</label></th>
					<td><input type = "password" id = "userRegisterRePassword" name = "userRegisterRePassword" placeholder="다시한번 입력하세요"></td>
				</tr>

				<tr> <!-- 이름 -->
					<th><label for = "userRegisterName">이 름</label></th>
					<td><input type = "text" id = "userRegisterName" name = "userRegisterName" placeholder="이름을 입력하세요"></td>
				</tr>

				<tr> <!-- 생년월일 -->
					<th><label for = "userRegisterBirth">생년월일</label></th>
					<td><input type = "date" id = "userRegisterBirth" name = "userRegisterBirth"></td>
				</tr>

				<tr> <!-- 성별 -->
					<th><label for = "userRegisterGender">성 별</label></th>
					<td>
						<select id = "userRegisterGender" name = "userRegisterGender" class = "userRegisterGender">
							<option value = "mail" selected="selected">남성</option>
							<option value = "femail">여성</option>
						</select>
					</td>
				</tr>

				<tr> <!-- 이메일 -->
					<th><label for = "userRegisterEmail">이메일</label></th>
					<td><input type = "text" id = "userRegisterEmail" name = "userRegisterEmail" placeholder="이메일을 입력하세요"></td>

				</tr>

				<tr> <!-- 전화번호 -->
					<th><label for = "userRegisterPhone1">전화번호</label></th>
					<td>
						<select id = "userRegisterPhone1" name = "userRegisterPhone1" class = "userRegisterPhone1">
							<option value = "010">010</option>
							<option value = "011">011</option>
							<option value = "016">016</option>
							<option value = "019">019</option>
						</select> -
						<input type = "number" id = "userRegisterPhone2" name = "userRegisterPhone2"> -
						<input type = "number" id = "userRegisterPhone3" name = "userRegisterPhone3">
					</td>
				</tr>
				</tbody>
			</table>

			<!-- 가입, 취소 버튼 -->
			<div class = "txtCenter">
				<button class = "btnCancel" type = "button" onclick = "location.href = '/'">취소</button>
				<button class = "btnUserRegister" type = "submit" id = "userRegisterSuccess">가입하기</button>
			</div>
		</form>
	</div>
</div>
<div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
</html>