<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/core-img/favicon.ico}">
    <title>FurnitureTeam - sb, jb</title>
    <!-- Custom CSS -->
    <link th:href="@{css/jh/userRegister/style.min.css}" rel="stylesheet">
    <link th:href="@{css/jh/userRegister/userRegister.css}" rel="stylesheet">
</head>
<body>
    <div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-white">
            <div class="auth-box bg-white border-top border-secondary" style="margin: 0;">
                <div>
                    <div class="text-center p-t-20 p-b-20">
                        <a href="index.html">
                            <span class="db"><img src="img/core-img/logo.png" alt="logo" /></span>
                        </a>
                    </div>
                    <!-- Form -->
                    <form class="form-horizontal m-t-20" action="index.html">
                        <div class="row p-b-30">
                            <div class="col-12">
                                <!--아이디-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon1">
                                            <p>아이디</p>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="아이디를 입력하세요" aria-label="Username" aria-describedby="basic-addon1" id="userRegisterId" required>
                                </div>
                                <!--비밀번호-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon2">
                                            <p>비밀번호</p>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="비밀번호를 입력하세요" aria-label="Password" aria-describedby="basic-addon1" id="userRegisterPassword" required>
                                </div>
                                <!--비밀번호 재입력-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon3">
                                            <p>비밀번호확인</p>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="한번더 입력해주세요" aria-label="Password" aria-describedby="basic-addon1" id="userRegisterRePassword" required>
                                </div>
                                <!--이름-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon2">
                                            <p>이름</p>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="이름을 입력해주세요">
                                </div>
                                <!--생일-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon2">
                                            <p>생년월일</p>
                                        </span>
                                    </div>
                                    <input type="date" id="userRegisterBirth" name="userRegisterBirth" class="form-control form-control-lg">
                                </div>
                                <!-- email -->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon1">
                                            <p>이메일</p>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="이메일을 입력해주세요" aria-label="Username" aria-describedby="basic-addon1" id="userRegisterEmail" required>
                                </div>
                                <!--성별-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon1">
                                            <p>성별</p>
                                        </span>
                                    </div>
                                    <select id="userRegisterGender" name="userRegisterGender" class="form-control form-control-lg">
                                        <option value="mail" selected="selected">남성</option>
                                        <option value="femail">여성</option>
                                    </select>
                                </div>
                                <!--전화번호-->
                                <div class="input-group mb-25">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning colorBox" id="basic-addon1">
                                            <p>전화번호</p>
                                        </span>
                                    </div>
                                    <select id="userRegisterPhone1" name="userRegisterPhone1" class="form-control form-control-lg">
                                        <option value="010">010</option>
                                        <option value="011">011</option>
                                        <option value="019">019</option>
                                    </select>
                                    <input type="text" class="form-control form-control-lg" id="userRegisterPhone2">
                                    <input type="text" class="form-control form-control-lg" id="userRegisterPhone3">
                                </div>
                            </div>
                        </div>
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20">
                                        <a href="index.html">
                                            <button class="btn btn-block btn-lg btn-info" type="button" href="index.html" id="userRegisterCancel">취소</button>
                                        </a>
                                        <button style="margin-top: 0.5rem;" class="btn btn-block btn-lg btn-info" type="submit" id="userRegisterSuccess">가입하기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{js/jh/userRegister/jquery.min.js}"></script>
    <script th:src="@{js/jh/userRegister/popper.min.js}"></script>
    <script th:src="@{js/jh/userRegister/bootstrap.min.js}"></script>
</body>

</html>
